<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" [ngClass]="slideArray[0] ? 'active' : ''"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" [ngClass]="slideArray[1] ? 'active' : ''"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" [ngClass]="slideArray[2] ? 'active' : ''"></li>
    </ol>
    <div class="carousel-inner">
      <div id="first-image" class="carousel-item" [ngClass]="slideArray[0] ? 'active' : ''"></div>
      <div id="second-image" class="carousel-item" [ngClass]="slideArray[1] ? 'active' : ''"></div>
      <div id="third-image" class="carousel-item" [ngClass]="slideArray[2] ? 'active' : ''"></div>
    </div>
    <div id="previous-slide" class="carousel-control-prev" (click)="previousSlider(currentActiveIndex)" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </div>
    <div id="next-slide" class="carousel-control-next" (click)="nextSlider(currentActiveIndex)" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </div>
    <div *ngIf="triggerSlider()">{{nextSlider(currentActiveIndex)}}</div>
</div>