.diagonal-box {
    z-index: -1;
    opacity: 0.5;
    background-image: linear-gradient(5deg, #bdc3c7, #2c3e50);
    height: 500px;
    transform: skewY(-5deg) translateY(500px);
    position: relative;
} 

.diagonal-box:before {
	position: absolute;
    transform: skewY(-5deg);
}

.content { 	
    height: 200px;
	max-width: 50em;
    margin: 0 auto; 
    position: relative;
    transform: skewY(5deg);
}

.content-paragraph {
    color: black;
    /*border: solid;*/
    transform: translateY(100px);
    display: inline-block;
    margin: 50px;
}

.content-paragraph h1 {
    font-size: 60px;
}

.content-paragraph p {
    color: white;
    font-size: 20px;
}

